@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}


#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

input {
  line-height: 1.125rem;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  z-index: 10000;
  font-size: 0.75rem;
}
input::placeholder{
 font-size: 1.125rem;
 font-size: 0.75rem;
 letter-spacing: 0.5px;

}
.theme-icon:hover {
  transform: scale(1.15);
}
button {
  font-size: 0.75rem;
}

.active {
  color: hsla(220, 98%, 61%, 1);
  font-weight: 700;
}
.completedBtn:hover {
  color: hsla(220, 98%, 61%, 1);
}

@media screen and (min-width: 600px){
  input {
    font-size: 1.125rem;
    padding-top: 0.28em;
    letter-spacing: -0.25px;
  }
  input::placeholder {
    font-size: 1.125rem;
    letter-spacing: -0.25px;
  }
  button {
    font-size: 0.875rem;
  }
}