@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  max-width: 100vw;
  min-height: 100vh;
}

input {
  padding-top: 0.28em;
  line-height: 1.125rem;
  font-size: 1.125rem;
  letter-spacing: -0.25px;
  border: none;
  outline: none;
  z-index: 10000;
}
input::placeholder{
 font-size: 1.125rem;
 letter-spacing: -0.25px;

}
.theme-icon:hover {
  transform: scale(1.15);
}

.active {
  color: hsla(220, 98%, 61%, 1);
  font-weight: 700;
}